{% extends 'base.html'%}

{% block content%}

{% if user.is_authenticated %}

<h1>Hello world</h1>

{% else %}

<div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <form method="post" action="{% url 'home'%}">
        {% csrf_token %}
        <form>
            <div class="mb-3">
                <label for="username" class="form-label">Email address</label>
                <input type="text" class="form-control" id="username" name="username" required aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <br>
            <button type="submit" class="btn btn-secondary">Login</button>
        </form>
    </form>
</div>

{% endif %}

{% endblock %}